body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  background-color: #282C35;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}

.Navbar .wrapper-nav {
  width: 1170px;
  display: flex;
  flex-direction: row;
}

.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Navbar .leftSide button {
  display: none;
  margin-left: 20px;
  background-color: transparent;
  border: 0;
}

.Navbar .leftSide .links {
  max-height: 80px;
}

.Navbar .leftSide .links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 15px;
}

.Navbar .leftSide #hidden {
  display: none;
}

.Navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.Navbar .rightSide a {
  text-decoration: none;
}

.Navbar .rightSide a button {
  border-radius: 10%;
  width: 80px;
  height: 35px;
  margin-right: 5px;
  background-color: #007FFF;
  color: white;
}

.wrapper {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper:nth-child(odd) {
  background-color: #282C35;
}

.wrapper:last-child {
  min-height: 50vh;
}

.wrapper .main {
  max-width: 1170px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5em 2em;
}

.wrapper .main .leftSide {
  width: 50%;
  text-align: left;
}

.wrapper .main .rightSide {
  width: 50%;
}

.wrapper .about {
  max-width: 1170px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 1.5em 2em;
}

.wrapper .about .leftSide {
  width: 50%;
}

.wrapper .about .rightSide {
  width: 50%;
  text-align: left;
}

.wrapper .header {
  width: 100%;
  text-align: left;
  max-width: 1170px;
  padding: .5em 2em;
}

.wrapper .header .post-modal Button {
  background-color: #007FFF;
  color: white;
  border: 0;
  padding: .5rem 1rem;
}

.wrapper .projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .projects .post-wrapper {
  border-top: 1px solid #007FFF;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper .projects .postContainer {
  max-width: 1170px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 1em 2em;
}

.wrapper .projects .postContainer .text {
  width: 50%;
  text-align: left;
  overflow-wrap: break-word;
  padding-right: .8rem;
}

.wrapper .projects .postContainer .text h3 {
  font-weight: bold;
}

.wrapper .projects .postContainer .text .intro {
  margin: 15px 0;
  font-size: 18px;
  background-color: #C0C0C0;
  color: black;
  border-radius: 5px;
  padding: 0 .5em;
  font-weight: bold;
}

.wrapper .projects .postContainer .text .content {
  font-size: 15px;
  background-color: #C0C0C0;
  color: black;
  padding: .3em .5em;
  border-radius: 5px;
  font-weight: bold;
}

.wrapper .projects .postContainer .image {
  width: 50%;
}

.wrapper .projects .postContainer .image img {
  border-radius: 5px;
}

.wrapper .projects .postContainer .image .post-icons {
  background-color: #282C35;
  color: white;
  padding: .5rem 0;
}

.wrapper .projects .postContainer .image .post-icons i {
  padding: 0 .7rem;
  margin: 0 5px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.wrapper .projects .postContainer .image .post-icons i:first-child:hover {
  border: 2px solid white;
}

.wrapper .projects .postContainer .image .post-icons i:last-child:hover {
  border: 2px solid red;
}

.wrapper .projects .postContainer .comment-button {
  margin: .5rem 0;
  width: 50%;
  text-align: left;
}

.wrapper .main .rightSide,
.wrapper .about .rightSide {
  margin-left: 15px;
}

.wrapper .projects .postContainer .text .tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper .projects .postContainer .text .tags-wrapper .tags {
  display: flex;
  background-color: #282C35;
  padding: .3rem .3rem;
  color: white;
  font-weight: bold;
  margin: 5px 5px;
  margin-left: 0;
  border-radius: 5px;
  font-size: 12px;
}

.wrapper .projects .postContainer .text .tags-wrapper .tags span,
.wrapper .projects .postContainer .text .tags-wrapper .tags i {
  padding: 0 5px;
}

.wrapper .projects .postContainer .text .tags-wrapper .tags i {
  border-radius: 5px;
  transition: transform .2s;
  transition: background-color .2s linear;
}

.wrapper .projects .postContainer .text .tags-wrapper i:hover {
  background-color: #C0C0C0;
  color: black;
  transform: scale(1.1)
}

.wrapper .projects .postContainer .comments {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #282C35;
  color: white;
  margin: 20px 0;
}

.wrapper .projects .postContainer .comments .leftSide,
.wrapper .projects .postContainer .comments .rightSide {
  padding: .5em .8em;
}

.wrapper .projects .postContainer .comments .leftSide {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .projects .postContainer .comments .leftSide img {
  width: 80px;
  border-radius: 50%;
  object-fit: contain;
}

.wrapper .projects .postContainer .comments .rightSide {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.wrapper .projects .postContainer .comments .rightSide .row {
  overflow-wrap: break-word;
}

.wrapper .projects .postContainer .comments .side {
  width: 5%;
  background-color: #007FFF;
  display: flex;
  flex-direction: column;
  font-size: large;
  justify-content: center;
}

.wrapper .projects .postContainer .comments .side .icon {
  padding: 1rem 0;
  border-radius: 5px;
  margin: 0 3px;
  border: 2px solid transparent;
}

.wrapper .projects .postContainer .comments .side .icon:first-child:hover {
  border: 2px solid white;
}

.wrapper .projects .postContainer .comments .side .icon:last-child:hover {
  border: 2px solid red;
}

/*Tag form*/
.form-tag-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.form-tag {
  display: flex;
  flex-direction: row;
  padding: .2rem .5rem;
  padding-left: 0;
  color: black;
}

.form-tag input {
  width: 120px;
}

.form-tag .tag-button {
  background-color: transparent;
  color: black;
  padding: 0;

}

.form-tag .tag-text input:focus {
  outline-color: #007FFF;
}

.form-tag i {
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 5px;
  border: 2px solid black;
}

.form-tag i:hover {
  border: 2px solid #007FFF;
}

.postContainer .text .tags-wrapper .tags .delete-tag:hover {
  background-color: #007FFF;
}

/*Comment form*/
.form-wrapper {
  width: 100%;
}

.form-wrapper .comment-text .character-count {
  display: flex;
  color: #C0C0C0;
  width: 100%;
  justify-content: flex-end;
}

.form-wrapper form button {
  background-color: #007FFF;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: .5rem 1rem;
  font-size: 15px;
}

.form-wrapper form textarea {
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 100%;
  height: 80px;
}

.form-wrapper form textarea:focus {
  outline-color: #007FFF;
}

.form-wrapper .editor {
  min-height: 4em;
  border: 1px solid red;
}

/*Footer*/
.footer {
  width: 100%;
  color: white;
  background-color: #282C35;
}

.footer .wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1170px;
  margin: 0 auto;
}

.footer .leftSide {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  text-align: left;
}

.footer h4 {
  padding: 0 1rem;
}

.footer .leftSide .contact span {
  display: flex;
  flex-direction: row;
  line-height: 50px;
}

.footer .leftSide .contact span p {
  margin: 0;
}

.footer .leftSide .contact span i,
.footer .leftSide .contact span p,
.footer .leftSide .contact span a {
  padding: 0 1rem;
  text-decoration: none;
  color: white;
}

.footer .leftSide .contact span:hover,
.footer .rightSide .social span:hover {
  background-color: #007FFF;
  border-radius: 5px;
}

.footer .rightSide {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  text-align: left;
}

.footer .rightSide .social span {
  display: flex;
  flex-direction: row;
  line-height: 50px;
}

.footer .rightSide .social span i,
.footer .rightSide .social span a {
  padding: 0 1rem;
}

.footer .rightSide .social span a {
  text-decoration: none;
  color: white;
}

.copyrights {
  background-color: #282C35;
  color: white;
  height: 100%;
  padding: 1rem 0;
}

/*modal*/
.add-post,
.edit-post,
.edit-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.add-post .form-header,
.edit-post .form-header {
  height: 50px;
}

.add-post .form-intro,
.edit-post .form-intro {
  height: 100px;
}

.add-post textarea,
.edit-post textarea,
.edit-comment textarea {
  height: 150px;
  width: 100%;
}

.add-post textarea:focus,
.edit-post textarea:focus,
.edit-comment textarea:focus {
  outline-color: #007FFF;
}

.add-post .form .form-row,
.edit-post .form .form-row,
.edit-comment .form .form-row {
  display: flex;
  flex-direction: column;
}

.add-post .character-count,
.edit-post .character-count,
.edit-comment .character-count {
  display: flex;
  color: #C0C0C0;
  width: 100%;
  justify-content: flex-end;
}

.add-post .close,
.add-post .submit,
.edit-post .close,
.edit-post .submit,
.edit-comment .close,
.edit-comment .submit {
  border-radius: 5px;
  padding: .5rem 1rem;
  border: 0;
}

.add-post .close,
.edit-post .close,
.edit-comment .close {
  margin-right: 15px;
  background-color: #282C35;
}

/*editor*/
.editor {
  display: flex;
  justify-content: center;
  background-color: #282C35;
}

.wrapper-class {
  border: 1px solid #007FFF;
  color: white;
}

.editorClassName {
  background-color: white;
}

@media screen and (max-width: 850px) {
  .Navbar .leftSide .links a {
    font-size: 20px;
  }
}

@media screen and (max-width: 720px) {
  .Navbar .leftSide button {
    display: flex;
  }

  .Navbar .leftSide .links {
    display: none;
  }

  .Navbar .leftSide #hidden {
    position: absolute;
    left: 0;
    top: 80px;
    height: 230px;
    max-height: 100%;
    width: 100%;
    background-color: #282C35;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Navbar .leftSide #hidden a {
    margin: 10px;
    font-size: 20px;
  }

  .wrapper .main {
    flex-direction: column;
  }

  .wrapper .about {
    flex-direction: column;
  }

  .wrapper .projects .postContainer {
    flex-direction: column;
  }

  .wrapper .main .leftSide,
  .wrapper .about .leftSide {
    width: 100%;
    text-align: left;
  }

  .wrapper .main .rightSide,
  .wrapper .about .rightSide {
    width: 100%;
    margin-left: 0;
  }

  .wrapper .projects .postContainer .text {
    width: 100%;
  }

  .wrapper .projects .postContainer .image {
    width: 100%;
  }

  .wrapper .projects .postContainer .comments {
    flex-direction: column;
  }

  .wrapper .projects .postContainer .comment-button {
    width: 100%;
  }

  .wrapper .projects .postContainer .comments .leftSide,
  .wrapper .projects .postContainer .comments .rightSide,
  .wrapper .projects .postContainer .comments .side {
    width: 100%;
  }

  .wrapper .projects .postContainer .comments .side {
    flex-direction: row;
  }
  
  .wrapper .projects .postContainer .comments .side .icon {
    padding: .2em .5em;
  }

  .footer .wrapper {
    flex-direction: column;
  }

  .footer .leftSide,
  .footer .rightSide {
    width: 100%;
  }

}