body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

img {width: 100%; height: auto;}

button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  background-color: #282C35;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}

.Navbar .wrapper {
  width: 1170px;
  display: flex;
  flex-direction: row;
}

.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Navbar .leftSide button {
  display: none;
  margin-left: 20px;
  background-color: transparent;
  border: 0;
}

.Navbar .leftSide .links {
  max-height: 80px;
}

.Navbar .leftSide .links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 15px;
}

.Navbar .leftSide #hidden {
  display: none;
}

.Navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.Navbar .rightSide a {
  text-decoration: none;
}

.Navbar .rightSide a button {
  border-radius: 10%;
  width: 80px;
  height: 35px;
  margin-right: 5px;
  background-color: #007FFF;
  color: white;
}

.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.Home .wrapper {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .wrapper:nth-child(odd) {
  background-color: #282C35;
}

.Home .wrapper .main {
  max-width: 1170px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5em 2em;
}

.Home .wrapper .main .leftSide {
  width: 50%;
  text-align: left;
}

.Home .wrapper .main .rightSide {
  width: 50%;
}

.Home .wrapper .about {
  max-width: 1170px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 1.5em 2em;
}

.Home .wrapper .about .leftSide {
  width: 50%;
}

.Home .wrapper .about .rightSide {
  width: 50%;
  text-align: left;
}

.Home .wrapper .projects {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 2em;
}

.Home .wrapper .projects .postContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1em 2em;
}

.Home .wrapper .projects .postContainer .text {
  width: 50%;
}

.Home .wrapper .projects .postContainer .image {
  width: 50%;
}

.Home .wrapper .main .rightSide, 
.Home .wrapper .about .rightSide {
  margin-left: 15px;
}

.Home .wrapper .projects .postContainer .comments {
  width: 100%;
  height: 100%;
}

.Home .wrapper .projects .postContainer .comments .commentContainer {
  width: 50%;
  background-color: #282C35;
  color: white;
  display: flex;
  height: 100%;
}

.Home .wrapper .projects .postContainer .comments .commentContainer .leftSide {
  width: 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home .wrapper .projects .postContainer .comments .commentContainer .rightSide {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #007FFF;
  align-items: flex-start;
}

.Home .wrapper .projects .postContainer .comments .commentContainer .leftSide img {
  width: 50px;
}

@media screen and (max-width: 850px) {
  .Navbar .leftSide .links a {
    font-size: 20px;
  }
}

@media screen and (max-width: 720px) {
  .Navbar .leftSide button {
    display: flex;
  }

  .Navbar .leftSide .links {
    display: none;
  }

  .Navbar .leftSide #hidden {
    position: absolute;
    left: 0;
    top: 80px;
    height: 230px;
    max-height: 100%;
    width: 100%;
    background-color: #282C35;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Navbar .leftSide #hidden a {
    margin: 10px;
    font-size: 20px;
  }

  .Home .wrapper .main {
    flex-direction: column;
  }

  .Home .wrapper .about {
    flex-direction: column;
  }

  .Home .wrapper .projects .postContainer {
    flex-direction: column;
  }

  .Home .wrapper .main .leftSide, 
  .Home .wrapper .about .leftSide {
    width: 100%;
    text-align: left;
  }
  
  .Home .wrapper .main .rightSide, 
  .Home .wrapper .about .rightSide {
    width: 100%;
    margin-left: 0;
  }

  .Home .wrapper .projects .postContainer .text {
    width: 100%;
  }

  .Home .wrapper .projects .postContainer .image {
    width: 100%;
  }
}